
fractals/fractals_cuda/x64/Release/buddha_cuda_kernel.cu.cache
fractals/fractals_cuda/.vs/fractals_cuda/v16/.suo
fractals/fractals_cuda/.vs/fractals_cuda/v16/Browse.VC.db
fractals/fractals_cuda/.vs/fractals_cuda/v16/Browse.VC.db-shm
fractals/fractals_cuda/.vs/fractals_cuda/v16/Browse.VC.db-wal
fractals/fractals_cuda/.vs/fractals_cuda/v16/Browse.VC.opendb
fractals/fractals_cuda/x64/Release/buddha_cuda_kernel.cu-1641730020.deps
fractals/fractals_cuda/x64/Release/buddha_cuda_kernel.cu.obj
fractals/fractals_cuda/x64/Release/escape_image.jpg
fractals/fractals_cuda/x64/Release/fractals_cuda.exe
fractals/fractals_cuda/x64/Release/fractals_cuda.exe.recipe
fractals/fractals_cuda/x64/Release/fractals_cuda.exp
fractals/fractals_cuda/x64/Release/fractals_cuda.iobj
fractals/fractals_cuda/x64/Release/fractals_cuda.ipdb
fractals/fractals_cuda/x64/Release/fractals_cuda.lib
fractals/fractals_cuda/x64/Release/fractals_cuda.log
fractals/fractals_cuda/x64/Release/fractals_cuda.pdb
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/CL.command.1.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/CL.read.1.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/CL.write.1.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/CudaCompile.read.1u.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/CudaCompile.write.1u.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/fractals_cuda.lastbuildstate
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/fractals_cuda.write.1u.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/link.command.1.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/link.read.1.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.tlog/link.write.1.tlog
fractals/fractals_cuda/x64/Release/fractals_cuda.vcxproj.FileListAbsolute.txt
fractals/fractals_cuda/x64/Release/fractals_with_gui_cuda.obj
fractals/fractals_cuda/x64/Release/openal32.dll
fractals/fractals_cuda/x64/Release/sfml-audio-2.dll
fractals/fractals_cuda/x64/Release/sfml-audio-d-2.dll
fractals/fractals_cuda/x64/Release/sfml-graphics-2.dll
fractals/fractals_cuda/x64/Release/sfml-graphics-d-2.dll
fractals/fractals_cuda/x64/Release/sfml-network-2.dll
fractals/fractals_cuda/x64/Release/sfml-network-d-2.dll
fractals/fractals_cuda/x64/Release/sfml-system-2.dll
fractals/fractals_cuda/x64/Release/sfml-system-d-2.dll
fractals/fractals_cuda/x64/Release/sfml-window-2.dll
fractals/fractals_cuda/x64/Release/sfml-window-d-2.dll
fractals/fractals_cuda/x64/Release/tgui-d.dll
fractals/fractals_cuda/x64/Release/tgui.dll
fractals/fractals_cuda/x64/Release/themes/BabyBlue.png
fractals/fractals_cuda/x64/Release/themes/BabyBlue.txt
fractals/fractals_cuda/x64/Release/themes/Black.png
fractals/fractals_cuda/x64/Release/themes/Black.txt
fractals/fractals_cuda/x64/Release/themes/Knob/Back.png
fractals/fractals_cuda/x64/Release/themes/Knob/Black.txt
fractals/fractals_cuda/x64/Release/themes/Knob/Front.png
fractals/fractals_cuda/x64/Release/themes/More themes.txt
fractals/fractals_cuda/x64/Release/themes/TransparentGrey.txt
fractals/fractals_cuda/x64/Release/themes/TreeView/Black.txt
fractals/fractals_cuda/x64/Release/themes/TreeView/Collapsed.png
fractals/fractals_cuda/x64/Release/themes/TreeView/Expanded.png
fractals/fractals_cuda/x64/Release/themes/TreeView/Leaf.png
fractals/fractals_cuda/x64/Release/vc142.pdb
fractals/fractals_cuda/.vs/fractals_cuda/FileContentIndex/aff9dfc0-6983-4b2a-8936-68414a564dd5.vsidx
fractals/fractals_cuda/.vs/fractals_cuda/FileContentIndex/629dc2ed-d0f3-4865-b66f-d751b0913df1.vsidx
fractals/fractals_cuda/.vs/fractals_cuda/FileContentIndex/95700536-20c2-4045-8543-26dcf91f9d8a.vsidx
fractals/fractals_cuda/.vs/fractals_cuda/FileContentIndex/read.lock
fractals/fractals_cuda/.vs/fractals_cuda/v16/ipch/AutoPCH/95e4929ec73aead2/FRACTALS_WITH_GUI_CUDA.ipch
fractals/fractals_cuda/.vs/fractals_cuda/v16/ipch/AutoPCH/e98fd2868bf5c860/BUDDHA_CUDA_KERNEL.ipch
fractals/fractals_cuda/.vs/fractals_cuda/v17/.suo
fractals/fractals_cuda/.vs/fractals_cuda/v17/Browse.VC.db
fractals/fractals_cuda/.vs/fractals_cuda/v17/Browse.VC.db-shm
fractals/fractals_cuda/.vs/fractals_cuda/v17/Browse.VC.db-wal
fractals/fractals_cuda/.vs/fractals_cuda/v17/Browse.VC.opendb
fractals/fractals_cuda/.vs/fractals_cuda/v17/fileList.bin
fractals/fractals_cuda/.vs/fractals_cuda/v17/ipch/AutoPCH/95e4929ec73aead2/FRACTALS_WITH_GUI_CUDA.ipch
fractals/fractals_cuda/.vs/fractals_cuda/v17/ipch/AutoPCH/e98fd2868bf5c860/BUDDHA_CUDA_KERNEL.ipch
fractals/fractals_cuda/x64/Release/buddha_cuda_kernel.cu685580267.deps
fractals/fractals_cuda/x64/Release/fractals_cuda.Build.CppClean.log
fractals/fractals_cuda/x64/Release/vc143.pdb
fractals/fractal_movies/shadow_green_long_zoom.gif
/fractals/fractals_cuda/.vs
/fractals/fractals_cuda/fractals_cuda/x64/Release/fractals_cuda.tlog
*.dll
*.deps
*.cache
*.obj
*.recipe
*.iobj
*.ipdb
*.log
*.pdb
